
<div class="container py-4 py-xl-5">
    <mat-form-field>
    <mat-label>Results count:</mat-label>
    <mat-select [(ngModel)]="cards_count">
     <!-- <mat-option value="Liked">Liked</mat-option> -->
      <mat-option value=20>20</mat-option>
      <mat-option value=30>30</mat-option>
      <mat-option value=40>40</mat-option>
      <mat-option value=50>50</mat-option>
      <mat-option value=1000>All</mat-option>
    </mat-select>
  </mat-form-field>

   <div class="row gy-4 row-cols-1 row-cols-md-2" style="overflow-y: auto; height:1600px;">

    <div *ngFor="let reco of recommendations; let i = index">
      <app-recommendation-card *ngIf="i < cards_count"  [link]="reco.link" [courseTitle]="reco.recommendation_description" [score]="reco.score*100" [ImageUrl]="reco.ImageUrl" [type]="reco.CourseSource" [preference]="reco.preference"></app-recommendation-card>
    </div>

  </div>

</div>
