<footer class="text-start bg-dark" style="height: 136px; margin-top: 18px">
  <div class="container text-white py-3 py-lg-7" style="height: 146px; margin-top: 96px;">
    <ul class="list-inline">
      <li class="list-inline-item me-4">
        <a class="link-light" (click)="openNotice()">Privacy Policy</a>
      </li>
      <li class="list-inline-item me-4">
        <a class="link-light" href="https://intel.service-now.com/nav_to.do?uri=%2Fcom.glideapp.servicecatalog_cat_item_view.do%3Fv%3D1%26sysparm_id%3D737f4544dbca5910cf9b13e813961974%26sysparm_preview%3Dtrue%26sysparm_domain_restore%3Dfalse%26sysparm_stack%3Dno" target="_blank">Contact Learning &amp; Capabilities Group</a>
      </li>
      <li class="list-inline-item"></li>
    </ul>
    <p class="text-secondary">Copyright © 2022 Intel F28 Learning &amp; Capabilities Group
      <img width="80" height="80" ngSrc="assets/images/learning white.png"/>
    </p>
  </div>
</footer>

