
    <div style="background-color: white ;padding: 5px">
      <span style="font-size: x-large; font-weight: bold; background-color: white">
        <br />
        About the system:<br />
      </span>

      <br />
      <span style="font-size:large ">
        SkillsUp machine learning system was design by F28 Learning & Capability Group at 2022<br />
      </span>
      <span style="font-size: x-large; font-weight: bold; background-color: white">
        <br />
        Goal:<br />
      </span>
      <span style="font-size:large ">
        To Provide on demand & just-in-time students the most suitable resources for learning using a personalized learning algorithms.
        <br />
        personalized learning recommendation algorithm mainly includes content-based recommendation algorithm, collaborative filtering recommendation algorithm and hybrid recommendation algorithm
        <br />
      </span>
      <span style="font-size:x-large ;font-weight:bold">
        <br />
        Content-Based Recommendation Algorithm:<br />
      </span>
      <span style="font-size:large ">
        Based on the user’s historical interest will recommend the resources that may be of interest to the user. (analyzing recent navigation/Courses history)
      </span>

      <br />
      <span style="font-size:x-large ;font-weight:bold">
        <br />
        Collaborative Filtering Recommendation Technology:<br />
      </span>
      <br />
      <span style="font-size:large ">
        According to different users’ preference for the same learning content, the user-based collaborative filtering recommendation computes the distance between users and then recommends learning content between users with the same preference.
      </span>
      <br />
      <span style="font-size:x-large ;font-weight:bold">
        <br />
        Hybrid Recommendation Algorithm:<br />
      </span>
      <br />
      <span style="font-size:large ">
        To overcome the shortcomings of content-based recommendation and collaborative filtering recommendation, we try to combine these two modes in some way to recommend.
        One way is to try to re-enter the results of the content-based recommendation to the collaborative filtering recommendation system and adopt the collaborative filtering recommendation technology for secondary filtering.
        Other way is to try to re-enter the results of the collaborative filtering recommendation to the content-based recommendation.
        Or recommendation that combines the content-based recommendation and collaborative 	filtering recommendation.
        Because the recommend ideas of content-based recommendation and collaborative filtering recommendation are different, how to combine the two effectively is the core content of hybrid recommendation.
      </span>
      <br />


      <button mat-button mat-dialog-close style="position: center ;font-weight:bold">Close</button>

    </div>





