<section class="py-4 py-xl-5" style="margin-bottom: 5px;  transform: translate(0px) scale(1); transform-origin: center; height: 510px; background: url('assets/images/bannr.png'); background-size: cover;">
  <div class="container h-100">
    <div class="row h-100" style="margin-top: 24px;margin-bottom: 24px;">
      <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
        <div>
          <img src="assets/images/intel.png" width="168" height="62" style="margin-right: 663px;">
          <img src="assets/images/Skills%20Upp-LOGOwhite-05.png" width="740" height="148" style="margin-right: 70px; padding-right: 0px; margin-top: -20px;">
          <p class="fs-6 fw-light text-white mb-4" style="padding-top: -40px; padding-bottom: 40px; margin-bottom: 8px; padding-left: 0px; margin-left: -300px; margin-right: 30px; font-size: 50px; font-style: inherit; font-family:Aharoni; font-stretch: condensed; color: floralwhite; ">AI Training System<br></p>
<!--          <p class="fs-6 fw-light text-white mb-4" style="padding: 12px;margin-bottom: 8px;background: rgba(6,3,24,0.88);padding-left: 12px;margin-left: 35px;margin-right: 35px;">This website is personalized for you. Find a variety of learning materials in this web portal, including: multiple online and frontal courses, different content types, assignments, useful links, collaborative tools, etc.<br></p>-->
<!--          <button disabled class="btn fs-5 text-end float-end me-2 py-2 px-4" data-bs-toggle="tooltip" data-bss-tooltip="" type="button" style="background: rgb(13,37,253);border-radius: 0px;margin-top: -10px;font-size: 16px;color: white;">Learn More</button>-->
          <app-search-bar></app-search-bar>
        </div>
      </div>
    </div>
  </div>
</section>

