<section id="user_topics" >
  <div class="container" >
    <h1 style="--bs-body-font-weight: bold;font-weight: bold;font-size: 42px;margin-top: 25px;">
      <strong style="color: #0201d9;">
        <span style="color: rgb(33, 37, 41);">Your</span>
      </strong>
      <strong>&nbsp;Recommended
        <span style="color: rgb(2, 1, 217);">Development</span>
        Topics
        <button class="btn btn-primary" id="btn_preferences" type="button" style="background: rgb(13,37,253); linear-gradient(var(--bs-btn-bg), var(--bs-btn-bg) 3%, var(--bs-btn-active-border-color)), var(--bs-btn-active-border-color); border-right-width: 0px; border-right-style: none; font-size: 18px; height: 48px; padding: 4px 10px; margin-left: 18px; " data-bs-target="#modal-1" data-bs-toggle="modal" (click)="openPreferences()">Update Your Preferences</button>
      </strong></h1>
  </div>
</section>
