<h1 style="font-size:xx-large" mat-dialog-title> <b> Privacy Notice </b> </h1>

<mat-dialog-content class="mat-typography" style="font-size:large;">
  <!--<h3>privacy</h3>-->
  <span style="font-size:large">
    SkillsUp is an AI-based solution powered by machine learning and built to provide personalized learning opportunity recommendations, tailored for an employee’s specific skills set, knowledge level, role and experience, and to enhance employee engagement.<br />
  </span>
  <br />
  It is entirely your decision to take or reject any of the recommended titles and your decision not to take a recommended title will not negatively affect your employment.<br />
  <br />
  If you decide to take any of the titles, your direct manager will have access to this information, to recommend new tasks for you to support and to follow the skills you learned.<br />
  <br />
  <p>
    A small team of SkillsUp developers will have access to your usage data for the purposes of product improvement and to provide you with the best personalized experiences before permanently deleting the data after 6 months.<br />
    <br />
    Employee data is protected in accordance with the Intel Employee Privacy Notice. For additional information about employee personal data processed by the SkillsUp, please email: lc_training.team"&#64;"intel.com  or the Privacy Office at PT Post (subject line ‘SkillsUp’).<br />
    <br />
  </p>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="logVisitorSign()">OK</button>
</mat-dialog-actions>
